.hw {
    padding: 106px 0 40px;
}

.hwTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-left: 70px;
    margin-bottom: 10px;
}

.container {
    margin: 24px 70px 32px;
    display: flex;
    flex-direction: column;
}