.radio {
    accent-color: black;
    width: 20px;
    height: 20px;
}

.radio::before {

}


.radio:checked::before {
}

.label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 22px;
}

.options {
    display: flex;
    flex-direction: column;
}
