.friendMessage {
    align-self: flex-end;
}

.friendImageAndText {
    display: flex;
    flex-direction: row-reverse;
}

.friendImageAndText img {
    width: 48px;
}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
